
.upload-wrapper {
    position: relative;
    height: 376px;
    max-width: 482px;
    width: 100%;
    display: inline-flex;
    margin-bottom: 72px;
}

.upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 30%;
    border: 1px solid $color-border;
    border-radius: $border-radius-2;
    text-align: center;
    color: $color-white;
    cursor: pointer;
    transition: $transition-2;
    font-size: 14px;

    &.error {
        border-color: $color-danger-300;
    }

    &:hover {
        &:not(&.error) {
            border-color: $color-secondary-550;
        }
        background: $color-white-050;

        .upload-text {
            color: $color-secondary;
        }
        .upload-animated{
            transform: translateY(-10%);
        }
    }

    &-animated {
        text-align: center;
        padding-bottom: 40px;
        transition: inherit;
    }
    &-input {
        display: none;
    }

    &-text {
        transition: inherit;
    }

    &-img {
        width: 70px;
        display: block;
        margin: 0 auto 24px;
    }

    &-error {
        position: absolute;
        top: 100%;
        width: 100%;
        padding-top: 8px;
        backface-visibility: hidden;
    }
}
